.tytul{
  font-family: 'Italianno', cursive;
  font-size: 3rem;
}
.podpis{
  font-family: 'Klee One', cursive;
}
.pt82{
  padding-top: 82px;
}

.fifty{
  width:50%;
}

.inline{
  display: inline;
}


@media (min-width: 768px) { 
  .resultcol{
    border-top: none;
    border-left:1px solid #dee2e6;
  }  
}

@media (max-width: 767.98px) {
  .resultcol{
  border-left:none;
  border-top:1px solid #dee2e6;
  padding-top: 15px;
  } 
}

.chartcol{
  border-top:1px solid #dee2e6;
  padding-top: 15px;
}
